.Menubutton {
    height: 20px;
    justify-content: space-between;
    width: 24px;    
    flex-direction: column;

    div {
        height: 4px;
        background-color: white;
        border: 0px solid white;
        
    }
    
    .a {
        box-sizing: border-box;
        position: relative;
        transition: transform 0.4s , top 0.4s;
        top: 0px;
    }
    
    .b {
        box-sizing: border-box;
        position: relative;
        background-color: rgba($color: #fff, $alpha: 1.0);
        transition: background-color 0.4s;
        top:4px;
    }
    .c {
        transition: transform 0.4s , top 0.4s;
        box-sizing: border-box;
        position: relative;
        top:8px;
    }

}


.active > .a {
    transform: rotate(45deg);
    top : 4px;
}
.active > .b {
    background-color: rgba($color: #fff, $alpha: 0);
}

.active > .c {
    transform: rotate(-45deg);
    top : -4px
}

@media screen and (min-width : 760px) {
    .Menubutton {
        display: none;
    }
}

@media screen and (min-width : 760px) {
    .Editor {
        width: 80%;
    }

}