.Form {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    width: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0px auto;
    
    
    
    >button {
        height: 40px;
        border: 1px solid #0f0041;
        box-sizing: border-box;
        color: white;
        background-color: #0f0041;
        box-shadow: 1px 1px 5px black;

        
    }
    
    button:disabled {
        background-color: #35323d;
    }
}

.Link {
    margin: 0px auto;
    text-align: center;
}

.LoginErrors {
    margin: 0px auto;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(165, 4, 4);
}

@media screen and (min-width : 550px) {
    .Form {
        width: 500px;
    }
}